    @{
    ViewData["Title"] = "Home Page";
}

@model Dish

<div class="d-flex justify-content-between align-items-center">
    <h1 class="display-4 new"><a href="/">Chefs</a> | Dishes</h1>
    <div class="d-inline-block px5 fs-5 pe-lg-5">
        <a href="newDish">Add a Dish</a>
    </div>
</div>
<br><br>
<h4 class="px-4 text-center">Yum, take a look at our tasty dishes!</h4>
<br>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Chef</th>
            <th>Tastiness</th>
            <th>Calories</th>
            <th>Description</th>
        </tr>
        @{
            foreach(Dish d in ViewBag.allDishes)
            {
            <tr>
                <td>@d.DishName</td>
                <td>@d.MyChef.FirstName @d.MyChef.LastName</td>
                <td>@d.Tastiness</td>
                <td>@d.Calories</td>
                <td>@d.Description</td>
            </tr>
            }
        }
    </table>