@{
    ViewData["Title"] = "Home Page";
}

@model Chef

<div class="d-flex justify-content-between align-items-center">
    <h1 class="display-4 new">Chefs | <a href="/dishes">Dishes</a></h1>
    <div class="d-inline-block px5 fs-5 pe-lg-5">
        <a href="/new">Add a Chef</a>
    </div>
</div>

<br>

<h4 class="px-4">Check out our roster of Chefs!!</h4>
<br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th># of Dishes</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach(Chef c in ViewBag.allChefs)
            {
                if(@c.MyDishes == null)
                    {
                    <tr>
                        <td>@c.FirstName @c.LastName</td>
                        <td>@(DateTime.Today.Year - @c.DoB.Year)</td>
                        <td>0</td>
                    </tr>
                    }
                    else
                    {
                    <tr>
                        <td>@c.FirstName @c.LastName</td>
                        <td>@(DateTime.Today.Year - @c.DoB.Year)</td>
                        <td>@c.MyDishes.Count()</td>
                    </tr>
                    }
            }
        }
            </tr>
        </tbody>
    </table>
